.sidebar{
  position:fixed;
  top:60px;
  left:0;
  bottom:0px;
  width:80px;
  background-color:white;
  z-index:200;
  padding-top:10px;
}
.sidebar-icons{
  height:105px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  cursor:pointer;
  position:relative;
}
@media (max-width:1000px){
  .sidebar-icons, .logo{
    display:flex;
    flex-direction:row;
    justify-content: start;
    align-items:center;
    height:70px;
    margin-left:10px;
  }
}
@media (max-width:1000px){
  .sidebar{
    position:fixed;
    width:140px;
  }
}
.sidebar-icons:hover{
  background-color:lightgray;
}
.sidebar-icons img{
  height:38px;
  margin-bottom:10px;
}
.sidebar-icons div{
  font-family:Arial, Helvetica, sans-serif;
  font-size:10px;
}
.sidebar-icons .tool{
  position:absolute;
  bottom:-10px;
  padding:4px;
  border-width:1px;
  border-style:solid;
  border-color:black;
  border-radius:5px;
  background-color:rgb(157, 155, 155);
  color:white;
  opacity:0;
  pointer-events:none;
}
.sidebar-icons:hover .tool{
  opacity:1;
}